.item {
  background-size: cover;
  display: block;
  margin: 0 auto;
  width: 50px;
  height: 50px;
}

.Iron_mainHand {
  background-image: url(images/iron_sword.png);
}

.Ice_mainHand {
  background-image: url(images/ice_sword.png);
}

.Fire_mainHand {
  background-image: url(images/fire_sword.png);
}

.Poison_mainHand {
  background-image: url(images/poison_sword.png);
}

.Adamantium_mainHand {
  background-image: url(images/adamantium_sword.png);
}

.Sunsoul_mainHand {
  background-image: url(images/golden_sword.png);
}
td > .Sunsoul_mainHand {
  margin: 0 auto;
}
/*.container-in-which-things-should-be-centered .Sunsoul_mainHand {
  margin: 0 auto;
}*/

.Stone_mainHand {
  background-image: url(images/stone_sword.png);
}

.inventory-table {
   display: inline-table;
}
.inventory-equip-row {
  display: table-caption;
  width: 100%;
  border: 1px solid #999;
  height: 50px;
}
.inventory-table-row {
  display: table-row;
  width: 100%;
}
.inventory-table-cell {
   display: table-cell;
   text-align: center;
   vertical-align: middle;
   border: 1px solid #999;
   width: 50px;
   height: 50px;
   padding: none;
}