.item {
  background-size: cover;
  display: block;
  margin: 0 auto;
  width: 50px;
  height: 50px;
}

.Iron_head {
  background-image: url(images/Iron_head.png);
}

.Iron_chest {
  background-image: url(images/Iron_chest.png);
}

.Iron_hands {
  background-image: url(images/Iron_hands.png);
}

.Iron_legs {
  background-image: url(images/Iron_legs.png);
}

.Iron_feet {
  background-image: url(images/Iron_feet.png);
}

.Iron_mainHand {
  background-image: url(images/Iron_mainhand.png);
}

.Iron_offHand {
  background-image: url(images/Iron_offhand.png);
}


.Ice_head {
  background-image: url(images/Ice_head.png);
}

.Ice_chest {
  background-image: url(images/Ice_chest.png);
}

.Ice_hands {
  background-image: url(images/Ice_hands.png);
}

.Ice_legs {
  background-image: url(images/Ice_legs.png);
}

.Ice_feet {
  background-image: url(images/Ice_feet.png);
}

.Ice_mainHand {
  background-image: url(images/Ice_mainhand.png);
}

.Ice_offHand {
  background-image: url(images/Ice_offhand.png);
}


.Poison_head {
  background-image: url(images/Poison_head.png);
}

.Poison_chest {
  background-image: url(images/Poison_chest.png);
}

.Poison_hands {
  background-image: url(images/Poison_hands.png);
}

.Poison_legs {
  background-image: url(images/Poison_legs.png);
}

.Poison_feet {
  background-image: url(images/Poison_feet.png);
}

.Poison_mainHand {
  background-image: url(images/Poison_mainhand.png);
}

.Poison_offHand {
  background-image: url(images/Poison_offhand.png);
}


.Fire_head {
  background-image: url(images/Fire_head.png);
}

.Fire_chest {
  background-image: url(images/Fire_chest.png);
}

.Fire_hands {
  background-image: url(images/Fire_hands.png);
}

.Fire_legs {
  background-image: url(images/Fire_legs.png);
}

.Fire_feet {
  background-image: url(images/Fire_feet.png);
}

.Fire_mainHand {
  background-image: url(images/Fire_mainhand.png);
}

.Fire_offHand {
  background-image: url(images/Fire_offhand.png);
}


td > .Sunsoul_mainHand {
  margin: 0 auto;
}
/*.container-in-which-things-should-be-centered .Sunsoul_mainHand {
  margin: 0 auto;
}*/

.inventory-table {
   display: inline-table;
}
.inventory-equip-row {
  display: table-caption;
  width: 100%;
  border: 1px solid #999;
  height: 100px;
  vertical-align: middle;
  text-align: center;
}

.inventory-equip-row:hover {
  background: rgba(0,0,0,0.3);
}

.inventory-table-row {
  display: table-row;
  width: 100%;
}
.inventory-table-cell {
   display: table-cell;
   text-align: center;
   vertical-align: middle;
   border: 1px solid #999;
   width: 50px;
   height: 50px;
   padding: none;
}