/* FONT! */
@font-face {
  font-family: 'FFF';
  src:
    url('FFF_Tusj.ttf');
  }

/*** Nav bar
/*****************************/

.navbar {
  margin-bottom: 0px;
  background-color: #494949;
}

.navbar .navbar-inner {
  -webkit-border-radius: 0px 0px 3px 3px;
  -moz-border-radius: 0px 0px 3px 3px;
  -ms-border-radius: 0px 0px 3px 3px;
  -o-border-radius: 0px 0px 3px 3px;
  border-radius: 0px 0px 3px 3px;
}

i.fa-shield {
  color: #FFFFFF;
}

a.navbar-brand {
  padding: 5px 15px;

}

.brand {
  font-family: 'FFF';
  font-size: 1.7em;
  color: #FFFFFF;
}

.dropdown-menu span {
  display: block;
  padding: 3px 20px;
  clear: both;
  line-height: 20px;
  color: #bbb;
  white-space: nowrap;
}

@-webkit-keyframes fadeOut {
  0% {opacity: 0;}
  10% {opacity: 1;}
  90% {opacity: 1;}
  100% {opacity: 0;}
}

@keyframes fadeOut {
  0% {opacity: 0;}
  10% {opacity: 1;}
  90% {opacity: 1;}
  100% {opacity: 0;}
}

.jumbotron{
  text-align: center;
}
.jumbotron h2{
  font-size: 60px;
  font-weight: 100;
}

.profile-picture {
  padding: 20px;
}

.profile-details {
  padding: 20px;
}

/*** Side Bar
/*****************************/

html, body, .container-fluid, .row {
  height: 100%;
}

body { padding-top: 50px; }

@media (min-width: 992px) {

  aside.sidebar-left {
    top: 50px;
    bottom: 0;
    left: 0;
    position: fixed;
    background-color: #ECF0F0;
    display: block;
    overflow: auto;
    text-align: center;
  }
}

div.avatar-info {
  text-align: center;
  padding: 10px;
}

img.character-avatar {
  width: 200px;
  margin: 20px 0;
}

h1.character-name {
  font-size: 24px;
  margin: 0;
}

h2.character-level {
  font-size: 16px;
  margin: 0;
}


.health-xp-stats {
  font-size: 16px;
  margin: 10px 0 5px 0;
}

/*** Character Health and XP
/*****************************/

.avatar-health-and-xp-container {
  background-color: #FFFFFF;
  padding: 10px;
}

div.health-container,
div.xp-container {
  text-align: left;
}

div.progress {
  margin-bottom: 10px;
}

/*** Character Attributes
/*****************************/

.character-attributes-container {
  background-color: #FFFFFF;
  margin-top: 10px;
}

.table {
  margin-bottom: 0;
  text-align: left;
}

.table-align-centre {
  text-align: center;
}

.table td {

}

i.add-strength,
i.add-intelligence {
  cursor: pointer;
}

/*** Equipped / inventroy / shop
/*****************************/

div.title-box {
  background-color: #F35B54;
  color: #FFFFFF;
  text-align: center;
  padding: 10px;
}

div.title-box h1 {
  font-size: 18px;
  margin: 0;
}

.character-equipped-container,
.character-inventory-container,
.shop-container {
  height: 260px;
  overflow: auto;
  border: 1px solid #F35B54;
}

.character-equipped-container h1,
.character-inventory-container h1,
.shop-container h1 {
  font-size: 18px;
  text-align: center;
};


/*** Dashboard
/*****************************/

.dashboard-container {
  text-align: center;
}

g {
  margin: 0 auto;
}