#main {
  background-color: #415066;
  background-image: url(http://www.transparenttextures.com/patterns/graphy.png);
  background-repeat: repeat;
  overflow: scroll;
}

@font-face {
  font-family: 'FFF';
  src:
    url('FFF_Tusj.ttf');
  }

/*** Nav bar
/*****************************/

.navbar {
  margin-bottom: 0px;
  background-color: #494949;
}

.navbar .navbar-inner {
  -webkit-border-radius: 0px 0px 3px 3px;
  -moz-border-radius: 0px 0px 3px 3px;
  -ms-border-radius: 0px 0px 3px 3px;
  -o-border-radius: 0px 0px 3px 3px;
  border-radius: 0px 0px 3px 3px;
}

i.fa-shield {
  color: #FFFFFF;
}

a.navbar-brand {
  padding: 5px 15px;
}

.navbar-default .navbar-nav > li > a {
  color: #FFF;
}

.brand {
  font-family: 'FFF';
  font-size: 1.7em;
  color: #FFFFFF;
}

.dropdown-menu span {
  display: block;
  padding: 3px 20px;
  clear: both;
  line-height: 20px;
  color: #bbb;
  white-space: nowrap;
}

@-webkit-keyframes fadeOut {
  0% {opacity: 0;}
  10% {opacity: 1;}
  90% {opacity: 1;}
  100% {opacity: 0;}
}

@keyframes fadeOut {
  0% {opacity: 0;}
  10% {opacity: 1;}
  90% {opacity: 1;}
  100% {opacity: 0;}
}

.jumbotron{
  text-align: center;
}
.jumbotron h2{
  font-size: 60px;
  font-weight: 100;
}

.profile-picture {
  padding: 20px;
}

.profile-details {
  padding: 20px;
}

/*** Side Bar
/*****************************/

html, body, .container-fluid, .row {
  height: 100%;
}

body { padding-top: 50px; }

@media (min-width: 992px) {

  aside.sidebar-left {
    top: 50px;
    bottom: 0;
    left: 0;
    position: fixed;
    background-color: #ECF0F0;
    display: block;
    overflow: auto;
    text-align: center;
  }
}

div.avatar-info {
  text-align: center;
  padding: 10px;
}

img.character-avatar {
  width: 200px;
  margin: 20px 0;
}

h1.character-name {
  font-size: 24px;
  margin: 0;
}

h2.character-level {
  font-size: 16px;
  margin: 0;
}


.health-xp-stats,
.solo-enemy-health,
.group-enemy-health {
  font-size: 16px;
  margin: 10px 0 5px 0;
}

/*** Character Health and XP
/*****************************/

.avatar-health-and-xp-container {
  background-color: #FFFFFF;
  padding: 10px;
}

div.health-container,
div.xp-container {
  text-align: left;
}

div.progress {
  margin-bottom: 10px;
}

/*** Character Attributes
/*****************************/

.character-attributes-container {
  background-color: #FFFFFF;
  margin-top: 10px;
}

.table {
  margin-bottom: 0;
  text-align: left;
}

.table-align-centre {
  text-align: center;
}

.table td {

}

i.add-strength,
i.add-intelligence {
  cursor: pointer;
}

/*** Equipped / inventroy / shop
/*****************************/

div.title-box {
  background-color: #F35B54;
  color: #FFFFFF;
  text-align: center;
  padding: 10px;
}

div.title-box h1 {
  font-size: 18px;
  margin: 0;
}

.character-equipped-container,
.shop-container {
  height: 260px;
  overflow: auto;
  border: 1px solid #F35B54;
  background-color: #FFF;
}

.character-inventory-container {
  /*padding: 30px;*/
  height: 260px;
  position:relative;
  margin: 0 auto;
  border: 1px solid #F35B54;
}

.character-equipped-container h1,
.character-inventory-container h1,
.shop-container h1 {
  font-size: 18px;
  text-align: center;
};


/*** Dashboard
/*****************************/

.dashboard-container {
  text-align: center;
}

g {
  margin: 0 auto;
}


/*** Solo Quest
/*****************************/

div.group-quest,
div.solo-quest {
  background: url("http://ytdb.ru/avatars/parchment-back/parchment.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding: 20px 0 40px;
}

div.inner-tile {
  /*background-color: #F2F5F6;*/
  /*border: 1px solid #E2E2E2;*/
  text-align: center;
  margin-top: 20px;
  padding: 40px;
}

h2.quest-type-header {
  margin: 15px 0 5px 0;
}


div.group-quest-timer-container,
div.solo-quest-timer-container {
  padding: 8px 0;
}

div.group-rewards-container,
div.solo-rewards-container {
  padding: 0 0 8px 0;

}

img.solo-enemy-image,
img.group-enemy-image {
  height: 200px;
}


h2.reward-header {
  margin: 5px 0;
}


h3.reward-title {
  font-size: 18px;
  margin: 5px 0;
}

h4.reward-amount {
  font-size: 16px;
  margin: 5px 0 10px;
}

/*** Group Quest
/*****************************/

div.group-quest {
  padding-right: 20px;
}

img.group-member-thumbnail {
  height: 65px;
  border: 3px solid #009ACE;
  border-radius: 40px;
  padding: 8px 0;
}

/*** Chat
/*****************************/

.chat
{
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: left;
}

.chat li
{
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px dotted #B3A9A9;
}

.chat li .chat-body p
{
    margin: 0;
    color: #777777;
}

.panel .slidedown .glyphicon, .chat .glyphicon
{
    margin-right: 5px;
}

div.header {
    text-align: left;

}

.panel-body
{
    overflow-y: scroll;
    height: 200px;
}

::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}

::-webkit-scrollbar
{
    width: 12px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #555;
}
