<template name="characterCreate">
  {{>transitioner}}
</template>

<template name="transitioner">
  <div class="transitioner">
    <div class="tranpanel">{{>pageTemplate 1}}</div>
    <div class="tranpanel current-panel">{{>pageTemplate 2}}</div>
  </div>
</template>

<template name="characterCreatePage1">
    <div class="ccheader well well-lg text-center"><h1>Choose Your Character</h1></div>
  <div class="col-md-7 col-md-offset-4">
    <div class="wrapper">
      <div class="menu">
        <a href="#" class="one btn btn-primary btn-lg">Warrior</a>
        <a href="#" class="two btn btn-primary btn-lg">Ranger</a>
        <a href="#" class="three btn btn-primary btn-lg">Mage</a>

        <div class="circle">
          <div class="another-circle"></div>
          <div class="other-circle"></div>
          <ul class="tiny-circle">
            <li>Warrior</li>
            <li>Ranger</li>
            <li>Mage</li>
          </ul>
        </div>
        <div class="inner-circle">{{> characterInfo}}</div>

      </div>
    </div>
  </div>

</template>

<template name="characterCreatePage2">
  <div class="col-md-8 character_form">
    <form role="form">
      <div class="form-group">
        <label for="characterName">Character Name</label>
        <input type="text" class="form-control" name="characterName" id="characterName" placeholder="Enter character name" required>
      </div>
      <div class="form-group">
        <label for="commitTarget">Daily Git Commit Target</label>
        <input type="number" min="1" class="form-control" name="commitTarget" id="commitTarget" placeholder="Enter your daily git commit target" required>
      </div>

      <button type="submit" class="btn btn-default">Submit</button>
    </form>
  </div>
</template>

<template name="characterInfo">
  <div class="character_info {{characterInfo}}"></div><br/>
  <button class="btn btn-success select" href="characterCreatePage2">Select</button>
  <!-- some select button -->
</template>