<template name="characterAttributes">

  <div class="character-attributes-container">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Attribute</th>
          <th class="table-align-centre">Stats</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Strength</td>
          <td class="table-align-centre">{{ character.strength }} <span class="specialChar">+</span> {{ character.equippedStrength }}
            {{#if character.attributePoints}}
              <i class="fa fa-plus-square-o add-strength"></i>
            {{/if}}
          </td>
        </tr>
        <tr>
          <td>Intelligence</td>
          <td class="table-align-centre">{{ character.intelligence }} <span class="specialChar">+</span> {{ character.equippedIntelligence }}
            {{#if character.attributePoints}}
              <i class="fa fa-plus-square-o add-intelligence"></i>
            {{/if}}
          </td>
        </tr>
      </tbody>
    </table>

  </div>
</template>