<template name="characterIndex">
  <!-- dashboard section -->
  <div class="col-md-offset-2 col-md-10">

    <div class="container-fluid">

      <div class="col-md-4">
        <div class=" character-equipped-container">
          <h1 class="currently-equipped">Equipped Items</h1>
          {{> itemsEquipped}}
        </div>
      </div>

      <div class="col-md-4">
        <div class="character-inventory-container">
          <h1 class="inventory">Inventory</h1>
          {{> itemsInventory}}
        </div>
      </div>

      <div class="col-md-4">
        <div class="shop-container">
          <h1 class="shop">Shop</h1>
          {{> itemsShop}}
        </div>
      </div>

    </div>


    {{> characterStats}}
      {{> questsIndex}}


      {{> groupsIndex}}
      {{> questsVotes}}

      {{> groupQuests}}
  </div>
</template>