<template name="characterIndex">

  {{> sidebar}}

  <!-- dashboard section -->
  <div class="col-md-offset-2 col-md-10">

    <div class="container-fluid">

      <div class="col-md-4">
        <div class="title-box">
          <h1>Equipped Items</h1>
        </div>
        <div class=" character-equipped-container">
          {{> itemsEquipped}}
        </div>
      </div>

      <div class="col-md-6">
        <div class="title-box">
          <h1>Inventory</h1>
        </div>
        <div class="character-inventory-container">
          {{> itemsInventory}}
        </div>
      </div>

      <div class="col-md-4">
        <div class="title-box">
          <h1>Shop</h1>
        </div>
        <div class="shop-container">
          {{> itemsShop}}
        </div>
      </div>

    </div>

    {{> characterStats}}

  </div>
</template>
