<template name="questsVotes">
  {{#each questsToVote}}
    {{> questVoteItem}}
  {{/each}}
</template>

<template name="questVoteItem">
  <div class="alert alert-warning alert-dismissible" role="alert">
    You have been invited to the quest: <strong>"{{this.difficulty}} monster"!</strong><br/>
    {{questVoters}} has accepted.<br/>
    <button type="button" class="accept btn btn-success" data-dismiss="alert">Accept</button>
    <button type="button" class="decline btn btn-warning" data-dismiss="alert">Decline</button>
  </div>
</template>