<template name="questActive">

  {{> sidebar}}



  <!-- Reward Modal -->
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          <h4 class="modal-title" id="myModalLabel">Congratulations!</h4>
        </div>
        <div class="modal-body">
          <h1>The monster has been slain!</h1>
          <h2>You have earned:</h2>
          <h3>{{modalReward.XP}} XP</h3>
          <h3>and</h3>
          <h3>{{modalReward.gold}} Gold!</h3>
          <p></p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  <!-- end reward modal -->



</template>
