<template name="itemsInventory">

    <div class="inventory-table">
      <div class="inventory-equip-row">
      </div>
      {{#each inventoryTableData}}
        <div class="inventory-table-row">
          {{#each this}}
            <div class="inventory-table-cell">
              {{> itemCell}}
            </div>
          {{/each}}
        </div>
      {{/each}}
    </div>

<!--   <div class="container-fluid">
    {{#each inventory}}
      {{#if this.shouldDisplay}}
          {{this.quantity}} x {{this.name}}
          <button class="equipItem">{{#if this.equipped}}Unequip{{else}}Equip{{/if}}</button>
          <button class="sellItem">Sell</button>
           <div class="img-responsive item">
            <div class="{{this.material}}_{{this.type}}"></div>
          </div>
      {{/if}}
    {{/each}}
  </div>
 -->


</template>

<template name="itemCell">
  {{#if item}}
    <div class="{{item.material}}_{{item.type}} img-responsive item" data-item-id="{{itemId}}" data-toggle="popover" data-content="{{itemStats}}"></div>
  {{/if}}
</template>
