<template name="itemsInventory">

  <table class="table">
    <tbody>
      {{#each inventory}}
        {{#if this.shouldDisplay}}
          <tr>
            <td>{{this.quantity}}</td>
            <td>{{this.name}}</td>
            <td><button class="equipItem btn btn-success">{{#if this.equipped}}Unequip{{else}}Equip{{/if}}</button></td>
            <td><button class="sellItem btn btn-warning">Sell</button></td>
          </tr>
        {{/if}}
      {{/each}}
    </tbody>
  </table>

</template>