<template name="rpgGamePane">
  <div id="rpg-boundary" class="col-md-6 col-md-offset-3">
    <div id="rpg-view">
      <div id="character"></div>
      {{#each otherCharacters}}
          {{> rpgGameCharacter}}
      {{/each}}

    </div>

    <div id="t1" class="trees"></div>
    <div id="t2" class="trees"></div>
    <div id="t3" class="trees"></div>
    <div id="t4" class="trees"></div>

    <div class="monster-boundary">
        <div id="f1" class="flowers"></div>
        <div id="f2" class="flowers"></div>
        <div id="f3" class="flowers"></div>
        <div id="f4" class="flowers"></div>
    </div>

    <div id="house1" class="house"></div>
    <div class="doorHole" id="doorHole1"></div>

  </div>
</template>