<template name="header">
  <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navigation">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a href="{{pathFor 'landingPage'}}" class="navbar-brand">
          <span><i class="fa fa-shield fa-2x"></i></span>
          <span class="brand"> Habit WARS</span>
        </a>
      </div>

      <div class="collapse navbar-collapse" id="navigation">
        {{#if currentUser}}
          <ul class="nav navbar-nav">
            <li class="dropdown">
              {{> notifications}}
            </li>
            <li><a href="{{pathFor 'characterIndex'}}">Character</a></li>
            <li><a href="{{pathFor 'questsIndex'}}">Quests</a></li>
          </ul>
        {{/if}}
        <ul class="nav navbar-nav navbar-right">
          {{#if currentUser}}
            <li><a href="#">Tokens: {{character.tokens}}</a></li>
            <li><a href="#">Gold: {{character.gold}}</a></li>
            <li><a href="{{pathFor 'profilePage'}}">Settings</a></li>
          {{/if}}
          {{> loginButtons}}
        </ul>
      </div>
<!--       <div class="nav navbar-nav navbar-right" id="navigation">
        <ul>
          <li>{{> loginButtons}}</li>
        </ul>
      </div> -->
    </div>
  </nav>
</template>