<template name="landingPage">

  <div class="col-md-6">
    <div class="wrapper">
      <div class="menu">
        <a href="#" class="one">Megaman</a>
        <a href="#" class="two">Character</a>
        <a href="#" class="three">Group</a>

        <div class="circle">
          <div class="another-circle"></div>
          <div class="other-circle"></div>
          <div class="inner-circle"></div>
          <ul>
            <li>Profile</li>
            <li>Character</li>
            <li>Graph</li>
          </ul>
        </div>

      </div>
    </div>
  </div>

</template>